<div class="container">
  <footer class="footer">
    <small> 
    Copyright &copy; <a href="http://www.diseelabs.com/"> L'agence Diseelabs</a>
    by <a href="https://www.linkedin.com/in/yvens-belaston-0774a8141/"> Yvens Belaston</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path%>
        </li>
      </ul>
    </nav>
  </footer>
</div>